.backGround {
  background-image: url("./Keypadbackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1450px 1500px;
}

.btn {
  height: auto;
  width: auto;
  background: linear-gradient(
    #f00202 0%,
    #bd0404 10%,
    #7d0404 50%,
    #4a0202 100%
  );
  border-radius: 50%;
}

.clickedNumber {
  color: white;
  size: large;
}
